[run]
source = .
branch = True
omit =
    ./venv/*
    */tests/*
    *tests.py
    *apps.py
    manage.py
    *__init__.py
    */migrations/*
    *asgi*
    *wsgi*
    *urls.py

[report]
omit =
    ./venv/*
    */tests/*
    *tests.py
    *apps.py
    manage.py
    *__init__.py
    */migrations/*
    *asgi*
    *wsgi*
    *urls.py

show_missing = True

[html]
directory = tests/coverage/html_report/
