{% extends "base.html" %}
{% load eventtags %}

{% block head %}
    <h1>{{object}}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-8 col-sm-12">
        <h3>Beschreibung</h3>
        <div>
        <a href="{% url 'events:review_create' object.pk %}" class="btn btn-primary">Jetzt bewerten</a>
        </div>

            {% if object.author == user or user|is_member:"Moderatoren" %}
                <a href="{% url 'events:event_update' object.pk %}">Eintrag editieren</a><br>
                <a href="{% url 'events:event_delete' object.pk %}">Eintrag löschen</a><br>
            {% endif %}

            <p>{{object.description}}</p>

            <section class="mb-5 mt-5">
            <h3>zusätzliche Infos</h3>
            <ul>
            <li>eingestellt am: {{object.created_at}}</li>
            <li>eingestellt von: {{object.author}}</li>
            <li><b>findet statt am (deutsche Zeit): {{object.date}}</b></li>
            <li>Min Gruppengröße: {{object.get_min_group_display}}  mindestes {{object.min_group}} Personen</li>
            </ul>
            </section>

        <h3>Ähnliche Events</h3>
        <ul>
        {% for event in object.related_events %}
            <li>{{event}}</li>
        {% empty %}
            <li>Sorry, keine Events</li>
        {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}